.hero{
  width: 100%;
}

.hero img{
  border-radius: 10px;
}

.test{
  position: relative;
  /* height: 600px; */
}

.controller{
  position: absolute;
  width: 3rem;
  top: 45%;
  right: 2rem;
  background: transparent;
  border: none;
  color: white;
}

.prev{
  left: 2rem;
}

.next{
  right: 2rem;
}

img{
  border-radius: 7px;
}